# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/store/node_modules
/server/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/store/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/store/.angular/cache
/store/.sass-cache/
/store/connect.lock
/store/coverage
/store/libpeerconnection.log
/store/testem.log
/store//typings

# System files
.DS_Store
Thumbs.db
